CONFIG VCCAUX=2.5;

NET	clk125m	LOC = P123 | IOSTANDARD = SSTL2_I;

NET	phy0_rxctl LOC = P137 | IOSTANDARD = SSTL2_I;
NET	phy0_rxclk LOC = P134 | IOSTANDARD = SSTL2_I;
NET	phy0_rxd<0> LOC = P138 | IOSTANDARD = SSTL2_I;
NET	phy0_rxd<1> LOC = P142 | IOSTANDARD = SSTL2_I;
NET	phy0_rxd<2> LOC = P141 | IOSTANDARD = SSTL2_I;
NET	phy0_rxd<3> LOC = P140 | IOSTANDARD = SSTL2_I;
NET	phy0_txctl LOC = P132 | IOSTANDARD = SSTL2_I | SLEW = FAST;
NET	phy0_txclk LOC = P133 | IOSTANDARD = SSTL2_I | SLEW = FAST;
NET	phy0_txd<0> LOC = P131 | IOSTANDARD = SSTL2_I | SLEW = FAST;
NET	phy0_txd<1> LOC = P127 | IOSTANDARD = SSTL2_I | SLEW = FAST;
NET	phy0_txd<2> LOC = P126 | IOSTANDARD = SSTL2_I | SLEW = FAST;
NET	phy0_txd<3> LOC = P124 | IOSTANDARD = SSTL2_I | SLEW = FAST;
NET	phy0_int_n LOC = P118 | IOSTANDARD = LVCMOS25;
NET	phy0_mdio LOC = P116 | IOSTANDARD = LVCMOS25 | SLEW = SLOW;
NET	phy0_mdc LOC = P114 | IOSTANDARD = LVCMOS25 | SLEW = SLOW;
NET	phy0_reset_n LOC = P111 | IOSTANDARD = LVCMOS25 | SLEW = SLOW;

NET	phy1_rxctl LOC = P24 | IOSTANDARD = SSTL2_I;
NET	phy1_rxclk LOC = P23 | IOSTANDARD = SSTL2_I;
NET	phy1_rxd<0> LOC = P26 | IOSTANDARD = SSTL2_I;
NET	phy1_rxd<1> LOC = P33 | IOSTANDARD = SSTL2_I;
NET	phy1_rxd<2> LOC = P32 | IOSTANDARD = SSTL2_I;
NET	phy1_rxd<3> LOC = P30 | IOSTANDARD = SSTL2_I;
NET	phy1_txctl LOC = P21 | IOSTANDARD = SSTL2_I | SLEW = FAST;
NET	phy1_txclk LOC = P22 | IOSTANDARD = SSTL2_I | SLEW = FAST;
NET	phy1_txd<0> LOC = P17 | IOSTANDARD = SSTL2_I | SLEW = FAST;
NET	phy1_txd<1> LOC = P16 | IOSTANDARD = SSTL2_I | SLEW = FAST;
NET	phy1_txd<2> LOC = P15 | IOSTANDARD = SSTL2_I | SLEW = FAST;
NET	phy1_txd<3> LOC = P14 | IOSTANDARD = SSTL2_I | SLEW = FAST;
NET	phy1_int_n LOC = P12 | IOSTANDARD = LVCMOS25;
NET	phy1_mdio LOC = P11 | IOSTANDARD = LVCMOS25 | SLEW = SLOW;
NET	phy1_mdc LOC = P7 | IOSTANDARD = LVCMOS25 | SLEW = SLOW;
NET	phy1_reset_n LOC = P6 | IOSTANDARD = LVCMOS25 | SLEW = SLOW;
NET	phy1_det<0> LOC = P5 | IOSTANDARD = LVCMOS25;
NET	phy1_det<1> LOC = P2 | IOSTANDARD = LVCMOS25;

NET	phy2_rxctl LOC = P95 | IOSTANDARD = SSTL2_I;
NET	phy2_rxclk LOC = P94 | IOSTANDARD = SSTL2_I;
NET	phy2_rxd<0> LOC = P97 | IOSTANDARD = SSTL2_I;
NET	phy2_rxd<1> LOC = P102 | IOSTANDARD = SSTL2_I;
NET	phy2_rxd<2> LOC = P101 | IOSTANDARD = SSTL2_I;
NET	phy2_rxd<3> LOC = P100 | IOSTANDARD = SSTL2_I;
NET	phy2_txctl LOC = P92 | IOSTANDARD = SSTL2_I | SLEW = FAST;
NET	phy2_txclk LOC = P93 | IOSTANDARD = SSTL2_I | SLEW = FAST;
NET	phy2_txd<0> LOC = P88 | IOSTANDARD = SSTL2_I | SLEW = FAST;
NET	phy2_txd<1> LOC = P87 | IOSTANDARD = SSTL2_I | SLEW = FAST;
NET	phy2_txd<2> LOC = P85 | IOSTANDARD = SSTL2_I | SLEW = FAST;
NET	phy2_txd<3> LOC = P84 | IOSTANDARD = SSTL2_I | SLEW = FAST;
NET	phy2_int_n LOC = P83 | IOSTANDARD = LVCMOS25;
NET	phy2_mdio LOC = P82 | IOSTANDARD = LVCMOS25 | SLEW = SLOW;
NET	phy2_mdc LOC = P79 | IOSTANDARD = LVCMOS25 | SLEW = SLOW;
NET	phy2_reset_n LOC = P78 | IOSTANDARD = LVCMOS25 | SLEW = SLOW;
NET	phy2_det<0> LOC = P75 | IOSTANDARD = LVCMOS25;
NET	phy2_det<1> LOC = P74 | IOSTANDARD = LVCMOS25;

NET	eep_sclk LOC = P59 | IOSTANDARD = LVCMOS33;
NET	eep_mosi LOC = P58 | IOSTANDARD = LVCMOS33;
NET	eep_cs_n LOC = P57 | IOSTANDARD = LVCMOS33;
NET	eep_miso LOC = P56 | IOSTANDARD = LVCMOS33 | SLEW = SLOW;

NET	led_x[0] LOC = P48 | IOSTANDARD = LVCMOS33 | SLEW = SLOW;
NET	led_x[1] LOC = P44 | IOSTANDARD = LVCMOS33 | SLEW = SLOW;
NET	led_x[2] LOC = P45 | IOSTANDARD = LVCMOS33 | SLEW = SLOW;
NET	led_x[3] LOC = P46 | IOSTANDARD = LVCMOS33 | SLEW = SLOW;
NET	led_y[0] LOC = P43 | IOSTANDARD = LVCMOS33 | SLEW = SLOW;
NET	led_y[1] LOC = P47 | IOSTANDARD = LVCMOS33 | SLEW = SLOW;
NET	led_y[2] LOC = P50 | IOSTANDARD = LVCMOS33 | SLEW = SLOW;

NET	sw[0] LOC = P40 | IOSTANDARD = LVCMOS33;
NET	sw[1] LOC = P41 | IOSTANDARD = LVCMOS33;

NET	flash_cs_n	LOC = P38 | IOSTANDARD = LVCMOS33 | SLEW = SLOW;
NET	flash_sclk	LOC = P70 | IOSTANDARD = LVCMOS33 | SLEW = SLOW;
NET	flash_mosi	LOC = P64 | IOSTANDARD = LVCMOS33 | SLEW = SLOW;
NET	flash_miso	LOC = P65 | IOSTANDARD = LVCMOS33;

NET clk125m	TNM_NET = "clk125m";
TIMESPEC	"TS_clk125m" = PERIOD "clk125m" 8 ns HIGH 50%;

NET eep_sclk TNM_NET = "eep_sclk";
TIMESPEC	"TS_eep_sclk" = PERIOD "eep_sclk" 100 ns HIGH 50%;

NET phy0_rxclk TNM_NET = "phy0_rxclk";
TIMESPEC "TS_phy0_rxclk" = PERIOD "phy0_rxclk" 8ns HIGH 50%;
#TIMEGRP "phy0_rxclk_Rising" = RISING "phy0_rxclk";
#TIMEGRP "phy0_rxclk_Falling" = FALLING "phy0_rxclk";
#OFFSET = IN 0 ns VALID 3.5 ns BEFORE phy0_rxclk TIMEGRP phy0_rxclk_Rising;
#OFFSET = IN -3.5 ns VALID 4.5 ns BEFORE phy0_rxclk TIMEGRP phy0_rxclk_Falling;

NET phy1_rxclk TNM_NET = "phy1_rxclk";
TIMESPEC "TS_phy1_rxclk" = PERIOD "phy1_rxclk" 8ns HIGH 50%;
#TIMEGRP "phy1_rxclk_Rising" = RISING "phy1_rxclk";
#TIMEGRP "phy1_rxclk_Falling" = FALLING "phy1_rxclk";
#OFFSET = IN 0 ns VALID 3.5 ns BEFORE phy1_rxclk TIMEGRP phy1_rxclk_Rising;
#OFFSET = IN -3.5 ns VALID 4.5 ns BEFORE phy1_rxclk TIMEGRP phy1_rxclk_Falling;

NET phy2_rxclk TNM_NET = "phy2_rxclk";
TIMESPEC "TS_phy2_rxclk" = PERIOD "phy2_rxclk" 8ns HIGH 50%;
#TIMEGRP "phy2_rxclk_Rising" = RISING "phy2_rxclk";
#TIMEGRP "phy2_rxclk_Falling" = FALLING "phy2_rxclk";
#OFFSET = IN 0 ns VALID 3.5 ns BEFORE phy2_rxclk TIMEGRP phy2_rxclk_Rising;
#OFFSET = IN -3.5 ns VALID 4.5 ns BEFORE phy2_rxclk TIMEGRP phy2_rxclk_Falling;

NET "eep_sclk" CLOCK_DEDICATED_ROUTE = FALSE;
